h3, p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 0.6px;
}
h3{
    margin-top: 1px;
}
p{
    line-height: 1.5;
    font-size: 13px;
}
strong{
    font-size: 16px;
    line-height: 1.7;
}
img{
    border-radius: 50%;
    margin-right: 15px;
}
.danielImg{
    border: 3px solid hsl(264, 82%, 80%);
}
.patrickImg{
    border: 3px solid hsl(263, 55%, 52%);
}
.daniel, .jonathan ,.jeanette, .patrick, .kira{
    border-radius: 10px;
    padding: 20px 35px 20px;
    margin: 20px;
}
.daniel{
    background-color: hsl(263, 55%, 52%); 
    color: white;
}
.jonathan{
    background-color: hsl(217, 19%, 35%);
    color: white;
}
.jeanette{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%)
}
.patrick{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}
.kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%)
}
.danielSpan, .jonSpan, .jeanSpan, .patSpan, .kiraSpan{
    display: flex;
    align-items: center;
}
@media screen and (min-width: 375px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 75%;
    }
    .daniel{
        grid-column-start: 1;
        grid-column-end: 3;
        background-image: url(images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 90% 0%;
    }
    .jeanette{
        grid-column-start: 1;
    }
    .patrick{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .kira{
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}