h2, p{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
img{
    border-radius: 50%;
}
.danielName, .jonathanName, .jeanetteName, .patrickName, .kiraName{
    font-size: 20px;
    font-weight: 600;
}
.danielImg{
    border: 3px solid hsl(264, 82%, 80%);
}
.patrickImg{
    border: 3px solid hsl(263, 55%, 52%);
}
.daniel, .jonathan ,.jeanette, .patrick, .kira{
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.daniel{
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    color: white;
}
.jonathan{
    background-color: hsl(217, 19%, 35%);
    color: white;
}
.jeanette{
    background-color: hsl(0, 0%, 100%);
}
.patrick{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}
.kira{
    background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 375px) {  
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .daniel{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .jeanette{
        grid-column-start: 1;
    }
    .patrick{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .kira{
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}